.data-wrapper{

    .quiz-title{
        font-family: 'Nunito-Bold';
    }

    .questions-count{
        font-family: 'Nunito-ExtraLight';
    }

    .hint-warning{
        font-family: 'Nunito-ExtraLight';

        .highlight{
            font-family: 'Nunito-Bold';
        }
    }
}

.quiz-wrapper{

    .question-wrapper,
    .form-wrapper{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include phone-up{
            min-height: 300px;
        }
    }

    .question-wrapper{

        .flag-wrapper{

            img.flag{
                width: 100%;
                box-shadow: 4px 4px 2px 1px $shadow;
            }
    
        }

        .hint-btn{
            text-align: left;
            margin-top: 20px;

            @include phone-down{
                margin-bottom: 20px;
            }

            i{
                font-size: 1.5rem;
                color: $theme-color;

                &::before{
                    margin-right: .5rem;
                }
                
            }
        }
    }

    .form-wrapper{

        .option{
            display: flex;
            margin-bottom: .75rem;
            padding: .5rem;
            border: 1px solid $theme-color;
            border-radius: .5rem;

            input{
                margin-left: 0;
                margin-right: 1rem;

                &:checked{
                    background-color: $theme-color;
                    border-color: $theme-color;
                }
            }
        }

        .submit-btn{
            width: 100%;
            border: 2px solid $theme-color;

            &.enabled{
                background-color: $theme-color;
                color: white;
            }
        }

    }  
    
}